# Old tech test results

![C# 2016](../ikm/Y_Habarov_Cs_Test_Result_92172394.png)

![C# 2014](../ikm/Y_Habarov_Cs_Test_Result_91266277.png)

![Java 2014](../ikm/Y_Habarov_Java_Test_Result_91581100.png)

![C++ 2016](../ikm/Y_Habarov_Cpp_Test_Result_92172866.png)
