# Old tech test results

![C# 2014](../ikm/Y_Habarov_C#_Test_Result_91266277.png)

![Java 2014](../ikm/Y_Habarov_C#_Test_Result_91266277.png)

![C# 2016](../ikm/Y_Habarov_C#_Test_Result_91266277.png)

![C++ 2016](../ikm/Y_Habarov_C#_Test_Result_91266277.png)
